<h2 class="sub-header">Section title</h2>
<div class="table-responsive">
    <a href="<?php echo $this->url('admin/user', array('action'=>'register')); ?>" class="btn btn-primary">New user</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
        </thead>
        <tfoot>
        <?php echo $this->paginationControl($this->users,
            'Sliding',
            'partial/paginator-total', array('route' => 'admin/user')); ?>
        </tfoot>
        <tbody>
        <?php foreach($this->users as $user): ?>
            <tr>
                <td><?php echo $user->getId(); ?></td>
                <td><?php echo $user->getUsername(); ?></td>
                <td><?php echo $user->getDisplayName(); ?></td>
                <td><?php echo $user->getEmail(); ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
    <?php echo $this->paginationControl($this->users,
        'Sliding',
        'partial/paginator', array('route' => 'admin/user')); ?>
    </body>
    </html>

</div>