<div class="row">
    <div class="col-xs-12 col-md-6">
        <h1>Register</h1>

        <form method="post" action="<?php echo $this->url('admin/user', array('action' => 'register')); ?>">
            <div class="form-group">
                <label for="email">Email</label>
                <input name="email" class="form-control" type="text" value="">
            </div>
            <div class="form-group">
                <label for="username">Usernmae</label>
                <input type="text" class="form-control" name="username" value="">
            </div>
            <div class="form-group">
                <label for="display_name">Display Name</label>
                <input name="display_name" class="form-control" type="text" value="">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" value="">
            </div>
            <button type="submit" class="btn btn-default" name="submit" value="">Register</button>
        </form>
    </div>
</div>