body {
  padding-top: 50px; }

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee; }

.navbar-fixed-top {
  border: 0; }

.sidebar {
  display: none; }

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    display: block;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee; } }
.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px; }
  .nav-sidebar .active a {
    color: #fff;
    background-color: #428bca; }
    .nav-sidebar .active a:hover, .nav-sidebar .active a:focus, .nav-sidebar .active a:active {
      color: #fff;
      background-color: #428bca; }
  .nav-sidebar li a {
    padding-right: 20px;
    padding-left: 20px; }

.main {
  padding: 20px; }

@media (min-width: 768px) {
  padding-right: 40px;
  padding-left: 40px; }
.main .page-header {
  margin-top: 0; }

/*# sourceMappingURL=admin.css.map */
