@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
html, body {
  height: 100%;
  background-image: url(/img/bg4.jpg);
  background-position: center; }

body {
  color: #fff;
  text-align: center; }

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%; }

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top; }

.cover-container {
  margin-right: auto;
  margin-left: auto; }

#navigation {
  background-color: #080808;
  min-height: 85px;
  opacity: 0.8; }
  #navigation .navbar-header .navbar-brand {
    font-family: 'Lato';
    color: white;
    font-size: 2em;
    padding: 1em 0; }
  #navigation #navbar .navbar-nav li {
    padding: 1em 0; }
    #navigation #navbar .navbar-nav li a {
      color: white;
      font-size: 1em;
      font-weight: bold; }
      #navigation #navbar .navbar-nav li a:hover, #navigation #navbar .navbar-nav li afocus, #navigation #navbar .navbar-nav li aactive {
        background: transparent;
        border-bottom: 4px solid white; }

.inner {
  padding: 30px; }

.cover {
  padding: 0 20px; }

@media (min-width: 768px) {
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle; }

  /* Handle the widths */
  .cover-container {
    width: 100%;
    /* Must be percentage or pixels for horizontal alignment */ } }
@media (min-width: 992px) {
  .cover-container {
    width: 700px; } }

/*# sourceMappingURL=cover.css.map */
