@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');

html, body {
  height: 100%;
  background-image: url(/img/bg4.jpg);
  background-position: center;
}

body {
  text-align: center;
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

@media (min-width: 768px) {

  .site-wrapper-inner {
    vertical-align: middle;
  }

  .middle {
    width: 100%;
    h1 {
      color: white;
      font-weight: 100;
      font-size: 3.5em;
      padding-bottom: 0.3em;
    }

    p {
      font-size: 16px;
      padding-top: 1em;
      line-height: 1.8;
      font-weight: 300;
      text-align: justify;
    }

    .contact {
      form {
        text-align: left;
      }
    }

    .about-us {
      img {
        padding-bottom: 15px;
      }
    }
  }
}

@media (min-width: 992px) {
  .middle {
    width: 900px;
  }
}

#navigation {
  width: 100%;
  min-height: 85px;
  background: black;
  opacity: 0.8;

  .navbar-header {
    .navbar-brand {
      font-family: 'Lato';
      color: white;
      font-size: 2em;
      font-weight: bold;
      padding: 1em 0;
    }
  }

  #navbar {
    .navbar-nav {
      li {
        padding: 1em 0;
        a {
          color: white;
          font-weight: bold;
          font-size: 1em;

          &:hover, &:focus, &:active {
            border: 1px solid white;
            background: transparent;
          }
        }
      }
    }
  }
}

.welcome {
  h1 {
    color: white;
    font-weight: 100;
    font-size: 3em;
    //padding: 5em 0 0 0;
  }
}

.middle-content {

}
.btn-custom {
  border: 1px solid white;
  background: transparent;
  padding: 20px;
  width: 100px;

  &:hover, &focus, &active {
    border: 1px solid white;
    background: #3f3f3f;
    opacity: 0.5;
  }
}