<?php
$form = $this->loginForm;
$form->prepare();
$form->setAttribute('action', $this->url('zfcuser/login'));
$form->setAttribute('method', 'post');
$form->setAttribute('autocomplete', 'off');
$form->setAttribute('class', 'form-signin');
?>

<?php echo $this->form()->openTag($form) ?>
<h2 class="form-signin-heading">Please sign in</h2>
<?php echo $this->formLabel($form->get('identity')
    ->setAttribute('class', 'sr-only')); ?>

<?php echo $this->formInput($form->get('identity')
    ->setAttribute('class', 'form-control')
    ->setAttribute('placeHolder', 'Email')); ?>

<?php echo $this->formLabel($form->get('credential')
    ->setAttribute('class', 'sr-only')); ?>

<?php echo $this->formInput($form->get('credential')
    ->setAttribute('class', 'form-control')
    ->setAttribute('placeHolder', 'Password')); ?>

<?php if ($this->redirect): ?>
    <input type="hidden" name="redirect" value="<?php echo $this->escapeHtml($this->redirect) ?>" />
<?php endif ?>

<?php echo $this->formButton($form->get('submit')
    ->setAttribute('class', 'btn btn-lg btn-primary btn-block')
    ->setAttribute('value', 'Entrar')); ?>

<?php echo $this->form()->closeTag() ?>
