<div class="about-us">
    <div class="row">
        <h1>About Us</h1>
        <div class="col-xs-12 col-md-12">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean magna tortor, elementum eget porttitor ut, dictum a felis. Morbi consequat at purus sed rhoncus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse sagittis pellentesque malesuada. In faucibus nunc rutrum libero posuere ultrices. Cras malesuada enim nec fermentum luctus. Morbi dictum nunc in tempor dignissim.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <img src="img/code1.png" alt="" class="img-responsive">
        </div>
        <div class="col-xs-12 col-md-6">
            <img src="img/code2.png" alt="" class="img-responsive">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <img src="img/code3.png" alt="" class="img-responsive">
        </div>
        <div class="col-xs-12 col-md-6">
            <img src="img/code4.png" alt="" class="img-responsive">
        </div>
    </div>
</div>