<div class="row contact">
    <h1>Send us a message</h1>
    <div class="col-xs-12 col-md-6">
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <textarea id="message" name="message" class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    <div class="col-xs-12 col-md-6">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean magna tortor, elementum eget porttitor ut, dictum a felis. Morbi consequat at purus sed rhoncus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse sagittis pellentesque malesuada. In faucibus nunc rutrum libero posuere ultrices. Cras malesuada enim nec fermentum luctus. Morbi dictum nunc in tempor dignissim.
        </p>
    </div>
</div>