<div class="col-xs-12 welcome">
    <h1 class="text-center">WELCOME TO CODING COURSE</h1>
    <a href="<?php echo $this->url('about'); ?>" class="btn btn-primary btn-large btn-custom">About</a>
    <a href="<?php echo $this->url('contact'); ?>" class="btn btn-primary btn-large btn-custom">Contact</a>
</div>