<h2 class="sub-header">Section title</h2>
<div class="table-responsive">
    <a href="<?php echo $this->url('admin/visit', array('action'=>'csv')); ?>?type=visitor" class="btn btn-primary" target="_blank">CSV Unique visitors</a>
    <a href="<?php echo $this->url('admin/visit', array('action'=>'csv')); ?>?type=country" class="btn btn-primary" target="_blank">CSV Unique countries</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>IP</th>
            <th>Page</th>
            <th>Date</th>
            <th>From</th>
        </tr>
        </thead>
        <tfoot>
        <?php echo $this->paginationControl($this->visits,
            'Sliding',
            'partial/paginator-total', array('route' => 'admin/visit')); ?>
        </tfoot>
        <tbody>
        <?php foreach($this->visits as $visit): ?>
            <tr>
                <td><?php echo $visit->getId(); ?></td>
                <td><?php echo $visit->getIp(); ?></td>
                <td><?php echo $visit->getPage(); ?></td>
                <td><?php echo $visit->getDate()->format('d/m/Y'); ?></td>
                <td><?php echo $visit->getCountry(); ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
    <?php echo $this->paginationControl($this->visits,
        'Sliding',
        'partial/paginator', array('route' => 'admin/visit')); ?>
    </body>
    </html>

</div>